@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap");

@import "tailwindcss";

a.active hr {
  display: block;
}

* {
  font-family: Outfit;
}
body {
  background-color: #fbf4f6;
}
.swiper-button-prev,
.swiper-button-next {
  display: none !important;
}
.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 640px) {
  a.active {
    background-color: black;
    color: white;
  }
}

@theme {
  --color-background: #fbf4f6;
  --color-primary: #bc5276;
  --color-secondary: #dbb79f;
  --color-accent: #cdae7e;
}
